.login-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px 10px;
}

.error-message {
  border: none;
  background-color: rgb(255, 154, 154);
  padding: 5px 10px;
  color: rgb(160, 1, 1);
  text-align: center;
}
.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  align-items: center;
}
.login-form #email {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  font-size: 16px;
  outline: none;
  display: flex;
  flex-direction: column;
}
.login-form #password {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  font-size: 16px;
  outline: none;
  display: flex;
  flex-direction: column;
}
.login-form .btn {
  width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .login-container {
    width: 80%;
    font-size: 14px;
  }
}