.modalCreatedBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalCreatedContainer {
  width: 500px;
  height: 300px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 2;
}

.modalCreatedContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalCreatedContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalCreatedContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCreatedContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .modalCreatedContainer {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .modalCreatedContainer {
    width: 80%;
  }
  .modalCreatedContainer .footer button {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }
}
